<table class="table table-striped">
    <tr>
        <th>Option</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>beanstalk_url</td>
        <td>{{beanstalk_url}}</td>
    </tr>
    <tr>
        <td>tube_namespace</td>
        <td>{{tube_namespace}}</td>
    </tr>
    <tr>
        <td>default_priority</td>
        <td>{{default_priority}}</td>
    </tr>
    <tr>
        <td>respond_timeout</td>
        <td>{{respond_timeout}}</td>
    </tr>
    <tr>
        <td>max_job_retries</td>
        <td>{{max_job_retries}}</td>
    </tr>
    <tr>
        <td>retry_delay</td>
        <td>{{retry_delay}}</td>
    </tr>
    <tr>
        <td>default_worker</td>
        <td>{{default_worker}}</td>
    </tr>
</table>