<td class="stats_value">{{id}}</td>
<td>{{state}}</td>
<td>{{pri}}</td>
<td>{{age}}</td>
<td>{{time_left}}</td>
<td>{{delay}}</td>
<td>{{reserves}}</td>
<td>{{releases}}</td>
<td>{{buries}}</td>
<td>{{timeouts}}</td>
<td>{{ttr}}</td>
<td>{{kicks}}</td>
<td>{{body}}</td>