<h3><a href="#queue/{{name}}">{{name}}</a></h3>
<div class="well">
   <table class="stats_table">
     <tr>
       <td class="stats_name">Total Jobs</td><td class="stats_value">{{total_jobs}}</td>
       <td>&nbsp;</td>
       <td class="stats_name">Current Urgent</td><td class="stats_value">{{current_jobs_urgent}}</td>
     </tr>
     <tr>
       <td class="stats_name">Current Using</td><td class="stats_value">{{current_using}}</td>
       <td>&nbsp;</td>
       <td class="stats_name">Current Ready</td><td class="stats_value">{{current_jobs_ready}}</td>
     </tr>
     <tr>
       <td class="stats_name">Current Waiting</td><td class="stats_value">{{current_waiting}}</td>
       <td>&nbsp;</td>
       <td class="stats_name">Current Reserved</td><td class="stats_value">{{current_jobs_reserved}}</td>
     </tr>
     <tr>
       <td class="stats_name">Current Watching</td><td class="stats_value">{{current_watching}}</td>
       <td>&nbsp;</td>
       <td class="stats_name">Current Delayed</td><td class="stats_value">{{current_jobs_delayed}}</td>
     </tr>
     <tr>
       <td class="stats_name"></td><td class="stats_value"></td>
       <td>&nbsp;</td>
       <td class="stats_name">Current Buried</td><td class="stats_value">{{current_jobs_buried}}</td>
     </tr>
    </table>
</div>