<div class="well">
   <table class="stats_table">
     <tr>
       <td class="stats_name">Total Jobs</td><td class="stats_value">{{total_jobs}}</td>
     </tr>
     <tr>
       <td class="stats_name">Current Urgent</td><td class="stats_value">{{current_jobs_urgent}}</td>
     </tr>
     <tr>
       <td class="stats_name">Current Ready</td><td class="stats_value">{{current_jobs_ready}}</td>
     </tr>
     <tr>
       <td class="stats_name">Current Delayed</td><td class="stats_value">{{current_jobs_delayed}}</td>
     </tr>
     <tr>
       <td class="stats_name">Current Buried</td><td class="stats_value">{{current_jobs_buried}}</td>
     </tr>
     <tr>
       <td class="stats_name">Job Timeouts</td><td class="stats_value">{{job_timeouts}}</td>
     </tr>
     <tr>
       <td class="stats_name">Current Connections</td><td class="stats_value">{{current_connections}}</td>
     </tr>
     <tr>
       <td class="stats_name">Current Producers</td><td class="stats_value">{{current_producers}}</td>
     </tr>
     <tr>
       <td class="stats_name">Current Workers</td><td class="stats_value">{{current_workers}}</td>
     </tr>
     <tr>
       <td class="stats_name">Current Waiting</td><td class="stats_value">{{current_waiting}}</td>
     </tr>
</div>